body {
	display: grid;
	font-family: "Open Sans", sans-serif;
	grid-template-columns: 17% 58% 26%;
	grid-template-rows: 4.5% 8.5% 3.5% 23% 2px 57%;
	height: 1270px ;
}

/*Nav Bar*/

nav {
	background-color: #fffefc;
	border: 2px solid #D9DCDD;
	display: grid;
	grid-column: 2 /span 2;
	grid-row: 1;
	grid-template-columns: 7.5% 70% 7.5% 7.5% 7.5%;
}


.search {
	border-bottom: 0;
	border: 2px solid #D9DCDD;
	grid-column: 2;
	grid-row: 1;
	height: 51px;
	width: 97%;
}

.user {
	grid-row: 1;
}

.user:hover {
	background-color: #778398;
}

.nav-pic {
	height: 2em;
	margin-top: 5px;
	width: 4em;
}


/*Header*/

header {
	background-color: #fffefc;
	grid-column: 2;
	grid-row: 2;
}



article {
	background-color: #dedede;
}
h1{
	font-size: 134%;
	margin: 11px 25px 5px 25px;
}

h5 {
	display: inline-block;
	margin: 10px 25px;
}

.preview {
	color: blue;
}

 .open {
 	grid-column: 3;
 	grid-row: 2;
 }

 .open-text { 
 	border: 2px solid #778398;
 	border-radius: 30%;
 	display: inline-block;
 	padding: 5px;
	width:19%;
}

.pen {
	border: 2px solid #778398;
	border-radius: 50%;
	display: inline-block;
	padding: 5px;
	margin-left: 5px;
}



/*Tabs*/

.tab {
	background-color: #fffefc;
	grid-column: 2 /span 2;
	grid-row: 3;
	}

.tabs {
	display: inline-block;
	margin: 5px 10px;
	padding: 5px;
}

.tabs:hover {
	border-bottom: 2px solid #778398;
}

/*Graphs*/

article {
	background-color: #EEF2F5;
}

.circles {
	padding-top: 70px;
}

.graphs {
	background-color: #EEF2F5;
	display: grid;
	grid-column: 2 /span 2;
	grid-row: 4;
	grid-template-columns: 60% 40%;
	grid-template-rows: 85% 15%;
	text-align: center;
	}

.applicants {
	background-color: #EEF2F5;
	border-bottom: 10px solid #ADB8C0;
	border-left: 10px solid #49B9AC;
	border-radius: 50%;
	border-right: 10px solid #ADB8C0;
	border-top: 10px solid #49B9AC;
	display: inline-block;
	height: 110px;
	margin-left: 10%;
	margin-right: 5%;
	width: 110px;
}

.forwards {
	background-color: #EEF2F5;
	border-bottom: 10px solid #ADB8C0;
	border-left: 10px solid #AB72B6;
	border-radius: 50%;
	border-right: 10px solid #ADB8C0;
	border-top: 10px solid #ADB8C0;
	display: inline-block;
	height: 110px;
	margin-left: 5%;
	margin-right: 5%;
	width: 110px;
}

.interviews {
	background-color: #EEF2F5;
	border-bottom: 10px solid #2B90DB;
	border-left: 10px solid #2B90DB;
	border-radius: 50%;
	border-right: 10px solid #ADB8C0;
	border-top: 10px solid #ADB8C0;
	display: inline-block;
	height: 110px;
	width: 110px;
}

img {
	grid-column: 2;
	grid-row: 1;
	height: 65%;
	margin-left: 17%;
	margin-top: 40px;
	width: 70%;
	
}

.totals {
	background-color: #F1F2F3;
	border-radius: 40% 30%;
	border: 1px solid #CCCDCE;
	grid-column: 1;
	grid-row: 2;
	height: 70%;
	margin: auto;
	width: 40%;
}

.apply {
	background-color: #F1F2F3;
	border-radius: 40% 30%;
	border: 1px solid #CCCDCE;
	grid-column: 2;
	grid-row: 2;
	height: 70%;
	margin: auto;
	width: 40%;
}

span {
	font-weight: bold;
}
/* Middle Line*/

.line {
	align-content: center;
	background-color: #D9DCDD;
	grid-column: 2 /span 2;
	grid-row: 5;
}

.mind-line {
	margin-left: 50%;
}
/* Table */

.table {
	grid-column: 2;
	grid-row: 6;
}

table {
	background-color: #fffefc;
	border-collapse: collapse;
	height: 80%;
	margin: 20px auto;
	width: 80%;
}

th {
	background-color: #778398;
	color: #fff;
	text-align: left;
	padding-left: 20px;
}

td {
	border: 0px;
	padding-left: 20px;
}

table tr {
	border: 2px solid #D9DCDD;
}

.edit-button {
	background-color:#8A9BAD;
	border: 0px;
	color: #fff;
}
/* links */

.links {
	grid-column: 3;
	grid-row: 6;
}

.facebook {
	background-color: #3b5998;
	color: white;
	display: block;
	height: 53px;
	margin: 10px;
	width: 90%;
	}

.twitter {
	background-color: #08a0e9;
	color: white;
	display: block;
	height: 53px;
	margin: 10px;
	width: 90%;
}

.linkedin {
	background-color: #0084b4;
	color: white;
	display: block;
	height: 53px;
	margin: 10px;
	width: 90%;
}

input {
	display: inline-block;
	height: 40px;
	margin-right: -6px;
	width: 70%;
}

.copy {
	background-color: #49B9AC;
	color: #fff;
	display: inline-block;
	height: 47px;
	margin: 10px 0px;
	width: 20%;
}

.resume {
	width: 90%;
}

/* Sidebar */

.check {
	background-color: green;
}
.sidebar {
	background-color: #3B5366;
	color: #D9DCDD;
	display: grid;
	grid-row: 1 / span 6;
	grid-template-columns: 100%;
	grid-template-rows: 20% 20% 20% 40%;
	padding-left: 5px;
	text-align: center;
}
.sidebar-profile {
	grid-column: 1;
	grid-row: 1;
}

.sidebar-headshot {
	border-radius: 50%;
	height: 121px;
	margin-bottom: 2px;
	margin-right: 50px;
	width: 131px;
}

.main-menu {
	text-align: left;
}

li {
	margin-bottom: 10px;
}

li:hover{
	background-color:#778398;
}

ul {
	list-style-type: none;
}

.lowest-side-bar {
	grid-row: 3/ span 1;
	grid-template-columns: 20% 80%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% auto;
}

label {
	padding-bottom: 5px;
}

.check {
	display: inline-block;
	margin:0 2px 0 5px;
	padding: 0;
	width: 6%;
}


@media screen 
